<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<meta charset="EUC-KR">

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<title>일정 등록</title>
<style type="text/css">
/* 
    #title {
      width: 695px; /* 원하는 넓이로 조정하세요 */
    }
  */   
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	$(function() {
		  $("#doDate").datepicker({
			    dateFormat: 'yy-mm-dd', // 날짜 형식을 'yy-mm-dd'로 설정
			  });
	  });
</script>
</head>
<body>
<!-- 
<div>
	<form id="planInsertArea" action="/myplanner/planinsert" method="post">
	<div class="container" align="center">
		<div class="mb-3">날짜 <br /><input type="text" id="doDate" name="doDate" required="required"></div>
		<div class="mb-3">제목 <br /><input type="text" id="title" name="title" required="required"></div>
		<div class="mb-3">내용 <br /><textarea rows="20" cols="100" placeholder="일정 내용 입력" id="content" name="content"></textarea></div>
		<div class="mb-3">
			<button type="submit" class="btn-lg">등록하기</button>
		</div>
	</div>
	</form>
</div>
 -->
<div class="container mt-5">
    <form id="planInsertArea" action="/myplanner/planinsert" method="post">
        <div class="text-center mb-4">
           	<div align="center">
		    	<h2 class="display-2">게시물 등록</h2>
		    </div>
        </div>
        <div class="mb-3">
            <label for="doDate" class="form-label">진행 예정 및 마감일</label>
            <input type="text" class="form-control" id="doDate" name="doDate" required="required">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" required="required">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" rows="15" placeholder="일정 내용 입력" id="content" name="content"></textarea>
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary btn-lg">등록하기</button>
        </div>
    </form>
</div>
	


</body>
</html>